body {
  background-color: #F0F8FF;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Input-container {
  padding: 10px;
}

.Button-user-commit {
  margin-top: 20px;
  padding: 10px;
  border-radius: 25px;
}

.Table-commits {
  border: 1px solid gray;
  margin: 20px auto;
}

.Table-header {
  border: 1px solid gray;
  padding: 10px 0;
  background-color: #B0C4DE;
}

.Table-rows {
  padding: 10px 30px;
  border-bottom: 1px solid gray;
  background-color: #E6E6FA;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
